.dropdown-toggle {
    background-color: var(--mm-blue) !important;
    border-color: var(--mm-blue) !important;
    color: var(--bg) !important;
    font-family: 'Century Gothic Bold';
}

.dropdown-toggle:hover {
    background-color: var(--mm-blue-lighter) !important;
    border-color: var(--mm-blue-lighter) !important;
    color: var(--bg) !important;
}

.dropdown-toggle:active {
    background-color: var(--mm-blue-lighter) !important;
    border-color: var(--mm-blue-lighter) !important;
    color: var(--bg) !important;
}

.dropdown-toggle:focus {
    background-color: var(--mm-blue-lighter) !important;
    border-color: var(--mm-blue-lighter) !important;
    color: var(--bg) !important;
}
  