.add-song-card {
  width: 30vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row !important;
  font-size: larger;
  font-weight: light;
  padding: 0px 0px;
}

.add-song-card + .add-song-card {
  margin-top: 5px;
}

.thumbnail-image{
  width: 4vw;
  border-radius: 2px;
}

.previewable:hover {
  cursor: pointer;
}