.edit-permissions-card {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    border-color: var(--primary-color) !important;
    background-color: var(--primary-color-transparent) !important;
}

.edit-permissions-card + .edit-permissions-card {
    margin-top: 10px;
}