.modal-dialog{
    width: 60vw !important;
    max-width: 1000px !important;
    min-width: 500px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.modal-content{
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: white !important;
    height: 80vh !important;
}

.modal-header .close {
    color: white !important;
}

.modal-header .close:hover {
    color: white !important;
}

.modal-header .close:active {
    color: white !important;
}

.modal-search-bar {
    width: 100% !important;
}

.add-song-modal-header {
    height: 10vh !important;
}

.add-song-modal-body {
    height: 70vh !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.add-song-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60%;
}

.song-preview {
    width: 40% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song-preview-frame {
    width: 100% !important;
}

.search-results {
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
}

.add-collaborator-body {
    display: flex;
    flex-direction: column;
    padding-left: 10vw !important;
    padding-right: 10vw !important;
    justify-content: center;
}

.search-bar {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.confirm-add-song {
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.confirm-add-song-list {
    height: 80%;
}