.mashmate-request-card {
  background-color: var(--primary-color) !important;
  flex-direction: row !important;
  justify-content: space-between;
}

.mashmate-request-card + .mashmate-request-card {
  margin-top: 5px;
}
