.mixtape-page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mixtape-page-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.song-container {
  display: flex;
  justify-content: center;
}

.mixtape_title {
  resize: none;
}

.mixtape_title:disabled {
  background-color: transparent !important;
  border-color: transparent !important;
  color: white !important;
}

.form-check-input {
  transform: scale(2);
  -webkit-transform: scale(2);
}

.video-preview {
  
}