.mixtape-page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mixtape-page-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.song-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mixtape_title {
  resize: none;
}

.mixtape_title:disabled {
  background-color: transparent !important;
  border-color: transparent !important;
  color: white !important;
}

.form-check-input {
  transform: scale(2);
  -webkit-transform: scale(2);
}

.video-preview {

}

.comment-section-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
}

.comment-section-header div+div {
  margin-left:20px
}

.comment-section-container {

}

.comments-card {
  background-color: var(--secondary-color-comment-bg) !important;
  height: 32vh !important;
  display: flex;
  flex-direction: row;
}

.comments-section {
  background-color: var(--secondary-color-comment-bg) !important;
  display: flex;
  flex-direction: column;
}

.reply{
  margin-left: 8%;
}