.page-container {
  background-color: var(--background-color) !important;
  width: 100vw;
  height: 100vh;
}

.page-content {
  width: 96vw;
  height: 89vh;
  margin: 2vh 2vw;
  background-color: var(--secondary-color) !important;
}

.card-footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-content {
  overflow-y: scroll;
}

.scroll-content::-webkit-scrollbar {
  width: 10px;
}

.scroll-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scroll-content::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: darkgrey !important;
}

.scroll-content::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
