.user-page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
.user-page-title {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
.user_top_body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50%
}
.users_mixtapes-container{
  height: 50%
}