.user-page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
.user-page-title {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
.user-top-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30%
}

.users-mixtapes-container{
  height: 70%
}