.bio-textarea {
  resize: none;
}

.bio-textarea:disabled {
  background-color: transparent !important;
  border-color: transparent !important;
  color: white !important;
}

.field-title {
  display: flex;
  justify-content: left;
  align-items: center;
}

.password-input {
  background-color: transparent !important;
  border-color: transparent !important;
  color: white !important;
}

.mashmateStuff-container {
  display: flex;
  justify-content: space-between;
  align-items: top;
  flex-direction: row;
  
}

.mashmatesList-container{
  width: 35%;
}
.filler{
  width: 10%;
}
.mashmateRequests-container{
  width: 45%;
}

.account-container{
  position: relative;
  width: 100%;
  font-family: "Century Gothic";
}

.account-container .username{
  width: 80%;
  height: 10vh;
  border-radius: 0px 5vh 5vh 0px;
  background-color: var(--mm-yellow);
  padding-left: 2vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: var(--bg);
  font-size: 3vw;
  font-family: "Century Gothic Bold";
}

.account-container .followers{
  padding-top: 2vh;
  padding-left: 6vw;
}

.account-container .user-bio-container{
  height: 20vh;
  padding-top: 2vh;
  padding-left: 2vw;
  width: 70%;
  display: flex;
}

.edit-bio-buttons{
  display: flex;
  flex-direction: column;
  width: 4vw;
}

.user-bio {
  resize: none;
  height: 16vh !important;
}

.user-bio:disabled {
  background-color: transparent !important;
  border-color: transparent !important;
  color: white !important;
}

.password-container{
  padding-left: 6vw;
}

.mashmate-info-container {
  padding: 2vh 5vw;
  display: flex;
  width: 90vw;
  justify-content: space-between;
}

.mashmates{
  width: 40%;
}

.mashmate-requests{
  width: 40%;
}