.mashmate-result {
  color: black !important;
  background-color: var(--primary-color) !important;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.mashmate-card {
  background-color: var(--primary-color) !important;
}

.mashmate-title {
  display: flex;
  justify-content: space-between;
  align-items: top;
  flex-direction: row;
  font-size: larger;
  font-weight: light;
}
