.user-result {
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: row !important;
}

.user-result + .user-result {
  margin-top: 10px;
}

.user-result + .mixtape-result {
  margin-top: 10px;
}


.user-result-image {
  width: 10%;
}

.user-result-body {
  width: 70%;
}

.user-result-title {
  font-size: larger;
  font-weight: light;
}

.user-result-description {
  font-size: smaller;
}

.user-result-stats {
  width: 20%;
}
